/*global styling */
body {
    font-family: "Arial", sans-serif;
    background-image: url("../styles/images/backgroundimage.jpeg");
    background-size: auto;
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    margin: 0;
}

/*navbar styling */
.navbar-container {
    text-align: center;
    background-color: #c1dc8a;
    padding: 20px;
}


.navbar-title {
    font-size: 24px;
    font-weight: bold;
    color: #f9fbf3;
    letter-spacing: 1px;
    font-family: "Georgia", serif;
    margin: 0;
}

.navbar-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

/* button styling */
.button {
    text-decoration: none;
    color: #b4c395;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #ecf3d3;
    border: none;
}

.button:hover {
    background-color: #d2e1b3;
    transform: scale(1.05);
}


.button-small {
    font-size: 14px;
    padding: 6px 12px; 
    border-radius: 15px; 
    background-color: #ecf3d3; 
    color: #768662;
    border: none;
}

.button-small:hover {
    background-color: #d2e1b3;
    transform: scale(1.05);
}

/* home page */
.home-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 10px; 
}


.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: #ffffffcc;
    border-radius: 15px;
}

.home-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}

.home-text {
    text-align: center;
    max-width: 400px;
}

.home-text h1 {
    font-size: 32px;
    color: #768662;
    font-family: "Georgia", serif;
}

.home-text p {
    font-size: 18px;
    color: #b4c395;
}

/*matcha by pages*/
.matcha-title {
    font-size: 32px;
    font-family: "Georgia", serif;
    color: #768662;
    padding: 10px 20px;
    background: #ecf3d3;
    border-radius: 10px;
}

.matcha-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.matcha-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.matcha-card {
    background: #ffffffcc;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    max-width: 400px; 
}

.matcha-link {
    text-decoration: none;
    color: #768662;
    font-weight: bold;
}

.matcha-link:hover {
    text-decoration: underline;
}

.matcha-item {
    list-style: none;
    font-size: 16px;
    color: #3b3b3b;
    margin: 10px 10px;
}

/*error handling*/
.no-matcha {
    text-align: center;
    background: #ecf3d3;
    color: #768662; 
    font-size: 18px;
    font-weight: bold;
    font-family: "Georgia", serif;
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
}

/*forms*/
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px; 
}

.form-card {
    background: #c1dc8a; 
    padding: 30px;
    border-radius: 15px;
    width: 420px; 
    text-align: center;
}

.form-title {
    font-size: 17px;
    font-weight: bold;
    color: #f9fbf3;
    font-family: "Georgia", serif;
    text-align: center;
    padding-bottom: 5px;
}

.form-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #f9fbf3; 
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-card label {
    font-size: 16px;
    color: #f9fbf3; 
    font-weight: bold;
}

.form-card input,
.form-card select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 15px;
}

/* Matcha Details Styling */
.matcha-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.matcha-details-card {
    background: #c1dc8a; 
    padding: 30px;
    border-radius: 15px;
    width: 420px;
    text-align: center;
}

.matcha-details-title {
    font-size: 22px;
    font-weight: bold;
    color: #f9fbf3;
    font-family: "Georgia", serif;
    margin-bottom: 15px;
}

.matcha-details-text {
    font-size: 18px;
    color: #f9fbf3;
    font-weight: bold;
    margin-bottom: 10px;
}

